<a href="https://colab.research.google.com/github/ifiokokon/Hamoye-Data-Science-Internship/blob/master/Introduction_to_Python_for_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#for question 1

In [6]:
a = [1,2,3,4,5,6]

In [7]:
b = [13, 21, 34]

In [ ]:
a.extend(b)
a

In [9]:
a = [1,2,3,4,5,6]

In [10]:
b = [13, 21, 34]

In [11]:
a.append(b)
a

[1, 2, 3, 4, 5, 6, [13, 21, 34]]

From the above a.extend(b) gives the desired result

In [ ]:
#for question 2

In [12]:
import numpy as np

In [13]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [16]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [18]:
np.array([1, 0, 0],[0, 1, 0],[0, 0, 1])

ValueError: ignored

In [19]:
np.array[(1, 0, 0),(0, 1, 0),(0, 0, 1)]

TypeError: ignored

In [15]:
# for questions 3

In [20]:
import pandas as pd

In [26]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [53]:
fueldata_df = pd.read_csv(url, error_bad_lines=False)
fueldata_df

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [24]:
fueldata_df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [30]:
#missing value %

In [31]:
(180/29523)*100

0.609694136774718

In [79]:
fueldata_df.corr(method='pearson').sort_values('fuel_cost_per_unit_burned')

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_mmbtu                   0.006122  ...             1.000000
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
report_year                           0.093323  ...             0.010261
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437

[7 rows x 7 columns]

fuel_qty_burned and fuel_mmbtu_per_unit were the second and third correlation with fuel cost per unit burned

In [46]:
fueldata_df.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [59]:
fueldata_df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].sum()

fuel_type_code_pudl
coal        576254.381
gas         156891.829
nuclear    4053318.428
oil        1361824.819
other         3048.394
waste         8607.492
Name: fuel_cost_per_unit_burned, dtype: float64

others has the lowest fuel cost per unit burned

In [71]:
z = fueldata_df.groupby('report_year')['fuel_cost_per_unit_burned'].sum()
z

report_year
1994    263292.115
1995    425661.488
1996     86425.275
1997    163533.452
1998    140238.656
1999    126056.285
2000    326495.434
2001    180365.641
2002    121921.135
2003    149175.726
2004    184637.699
2005    135924.139
2006    188142.032
2007    256114.312
2008    314312.022
2009    263584.566
2010    331581.467
2011    374175.603
2012    321693.544
2013    306933.236
2014    518002.469
2015    260060.984
2016    255484.814
2017    244557.823
2018    221575.426
Name: fuel_cost_per_unit_burned, dtype: float64

In [73]:
z.sort_values()

report_year
1996     86425.275
2002    121921.135
1999    126056.285
2005    135924.139
1998    140238.656
2003    149175.726
1997    163533.452
2001    180365.641
2004    184637.699
2006    188142.032
2018    221575.426
2017    244557.823
2016    255484.814
2007    256114.312
2015    260060.984
1994    263292.115
2009    263584.566
2013    306933.236
2008    314312.022
2012    321693.544
2000    326495.434
2010    331581.467
2011    374175.603
1995    425661.488
2014    518002.469
Name: fuel_cost_per_unit_burned, dtype: float64

In [78]:
fueldata_df.groupby('report_year')['fuel_cost_per_unit_delivered'].max().sort_values()

report_year
2006       1431.000
1995       2396.770
1999       2891.100
2017       3584.335
2007       4850.872
2005       8651.000
2011       9545.000
2012      10129.000
2008      10490.000
2002      31416.000
2001      34381.000
2003      34518.000
2010      44033.320
1994      45115.000
2016      69440.000
2004     132884.000
2013     135315.000
2014     136410.000
2015     140706.000
2018     245652.000
1998     270604.000
2009     730166.000
2000    1168000.000
1996    7793482.000
1997    7964521.000
Name: fuel_cost_per_unit_delivered, dtype: float64

In [ ]:
#1997 has the average fuel cost per unit delivered

In [ ]:
fueldata_df.pct_change('fuel_cost_per_unit_burned',axis'report_year',)